<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.hotel.mapper.CustomerMapper">

	<select id="getIdByUserMailAndPassword"
		resultType="java.lang.Integer">
		select user_id from customer
		where mail = #{mail} and
		password = #{password}
	</select>
	<select id="getUserNameById" resultType="java.lang.String">
		select name from
		customer
		where user_id = #{id}
	</select>
	<select id="findMail" resultType="java.lang.Boolean">
		SELECT COUNT(*) > 0 AS exist
		FROM customer
		WHERE mail = #{mail};
	</select>
	<insert id="signUp">
		INSERT INTO customer(
		name, mail, password)
		VALUES (
		#{name},#{mail},#{password});
	</insert>

</mapper>