<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.hotel.mapper.RoomMapper">

	<resultMap type="co.hotel.dto.RoomDto" id="room">
		<id column="room_id" property="room_id" />
		<result column="status" property="status" />
		<result column="booked" property="booked" />
	</resultMap>

	<select id="getRoomList" resultMap="room">
		SELECT room.room_id,
		CASE
		WHEN
		booking.booking_time IS NOT NULL and
		booking.checkout_time IS NULL
		THEN
		false ELSE true END AS status,
		Case
		When booking.user_id = #{user_id}
		Then true else false end as booked
		FROM public.room AS room
		LEFT JOIN
		public.booking AS booking
		ON room.room_id = booking.room_id
		AND
		booking.checkout_time IS NULL
		order by room.room_id;
	</select>

	<insert id="bookRooms">
		INSERT INTO booking 
		(user_id, room_id, booking_time)
		VALUES (#{userId}, #{roomId}, #{date})
		ON CONFLICT ON CONSTRAINT
		unique_booking DO NOTHING;
	</insert>

</mapper>