<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

<style type="text/css">
.custom-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card-body {
	width: 50%;
	margin-left: 300px;
	border-width: 1px;
	border-style: groove;
	padding: 50px;
	border-radius: 15px;
}

.card-body h2 {
	text-align: center;
}

.form-control {
	border-radius: 5px;
}
</style>

</head>
<body>
	<nav class="navbar justify-content-center bg-light mb-4">
		<a class="navbar-brand" th:href="@{/}">部屋の予約</a>
		<div class="col-4"></div>
		<ul class="nav">
			<li class="nav-item"><a class="nav-link" th:href="@{/}">部屋一覧</a></li>
			<li class="nav-item"><a class="nav-link" th:if="${user == null}"
				th:href="@{/login}">ログイン</a></li>
			<li class="nav-item dropdown" th:if="${user != null}"><a
				class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
				role="button" aria-expanded="false" th:text=${user}></a>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" th:href="@{/logout}">ログアウト</a></li>
				</ul></li>
		</ul>
	</nav>
	<div class="container">
		<div class="card-body">
			<form th:action="@{/login}" method="post" th:object=${login}>

				<div class="alert alert-danger" th:if="${error != null}"
					th:text="${error}"></div>
				<div class="mb-4 mt-2">
					<h2>ログイン</h2>
				</div>
				<div class="mb-4 mt-2">
					<label for="email" class="form-label">メール</label> <input
						type="text" class="form-control" id="mail" name="mail">
				</div>
				<div class="mb-4">
					<label for="password" class="form-label">パスワード</label> <input
						type="password" class="form-control" id="password" name="password">
				</div>
				<div class="d-grid mb-4">
					<button type="submit" class="btn btn-primary btn-block">
						<small><strong>ログイン</strong></small>
					</button>
				</div>
				<div class="mb-4 d-flex justify-content-center">
					<a th:href="@{/singUp}"><small>アカウント登録</small></a>
				</div>
			<!-- Sign Up Success -->
			<div class="modal fade" id="signUpSuccessModal" tabindex="-1"
				aria-labelledby="signUpSuccessModal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">ありがとう!</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<span th:text="${singUpSuccess}"></span>
						</div>
					</div>
				</div>
			</div>
			<div th:if="${singUpSuccess}">
				<script th:inline="javascript">
					var myModal = new bootstrap.Modal(document
							.getElementById('signUpSuccessModal'));
					myModal.show();
				</script>
			</div>
			</form>
			
		</div>
	</div>
</body>
</html>