<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
	crossorigin="anonymous"></script>


<style type="text/css">
.btn-outline-primary { 
	--bs-btn-color: black; 
	--bs-btn-border-color: grey;
	--bs-btn-hover-color: #fff; 
	--bs-btn-hover-bg: #0dfd80; 
	--bs-btn-hover-border-color: #0dfd80; 
	--bs-btn-focus-shadow-rgb: 13, 110, 253; 
	--bs-btn-active-color: #fff; 
	--bs-btn-active-bg: #0dfd80; 
	--bs-btn-active-border-color: #0dfd80; 
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); 
	--bs-btn-disabled-color: #0dfd80; 
	--bs-btn-disabled-bg: transparent; 
	--bs-btn-disabled-border-color: #0dfd80; 
	--bs-gradient: none;
}

.unavailable {
	color: black;
	background: grey;
}

.booked {
	color: white;
	background: green;
}
</style>
</head>

</head>
<body>
	<!--th:disabled="${not r.status and not r.booked}" th:checked="${r.booked}"-->
	<form th:action="@{/booking}" method="post" id="submitForm">
		<div th:each="r : ${rooms}">
			<input type="checkbox"
				th:classappend="${r.booked} ? 'btn-check booked' : 'btn-check'"
				th:id="${r.room_id}" autocomplete="off"
				th:disabled="${not r.status}" th:name="selectedRooms"
				th:value="${r.room_id}"> <label th:id="${r.room_id}"
				th:classappend="${r.booked ? 'btn btn-outline-success booked' : (r.status ? 'btn btn-outline-primary' : 'btn btn-outline-primary unavailable')} "
				th:for="${r.room_id}"> <span th:text="${r.room_id}"></span>
			</label> <br>
		</div>
		<button type="button" th:onclick="confirmBooking()"
			class="btn btn-primary">BOOK</button>


		<!-- booking confirmation -->
		<div class="modal fade" id="bookingConfirmModal" tabindex="-1"
			aria-labelledby="bookingConfirmModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">ありがとう!</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">...</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">キャンセル</button>
						<button type="submit" class="btn btn-primary">予約</button>
					</div>
				</div>
			</div>
		</div>
		<!-- booking error confirmation -->
		<div class="modal fade" id="bookingErrorModal" tabindex="-1"
			aria-labelledby="bookingErrorModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">すみません!</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">予約する部屋を選択してください</div>
				</div>
			</div>
		</div>

		<!-- booking complete-->
		<div class="modal fade" id="bookingCompleteModal" tabindex="-1"
			aria-labelledby="bookingCompleteModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">ありがとう!</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<span th:text="${bookedRooms}"></span>
					</div>
				</div>
			</div>
		</div>

	</form>
	<script>
		
	
		function confirmBooking() {
			var inputElements = document.getElementsByTagName('input');
			var isChecked = false;
			var checkedValues = [];

			for (var i = 0; i < inputElements.length; i++) {
				var inputElement = inputElements[i];
				if (inputElements[i].type == 'checkbox'
						&& inputElements[i].checked) {

					isChecked = true;
					var checkedValue = inputElement.value;
					checkedValues.push(checkedValue);
				}
			}

			if (isChecked) {
				// At least one checkbox is checked
				var roomArray = checkedValues.map(function(value) {
					return 'Room ' + value;
				});

				// Create a new string by joining the roomArray elements with commas and a space
				var roomString = roomArray.join(', ');

				var modal = document.getElementById('bookingConfirmModal');
				var modalBody = modal.querySelector('.modal-body');
				modalBody.textContent = roomArray + 'を予約しますか？';

				$('#bookingConfirmModal').modal('show');
				//document.getElementById("submitForm").submit();
			} else {
				// No checkbox is checked
				$('#bookingErrorModal').modal('show');

			}
		}
	</script>
</body>



</html>