<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<style type="text/css">
.custom-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-body {
	width: 50%;
	margin-left: 300px;
	border-width: 1px;
	border-style: groove;
	padding: 50px;
	border-radius: 15px;
}
.card-body h2, .modal-body span {
	text-align: center;
}
.form-control {
	border-radius: 5px;
}
.modal-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
</style>
</head>
<body>
	<nav class="navbar justify-content-center bg-light mb-4">
		<a class="navbar-brand" th:href="@{/}">部屋の予約</a>
		<div class="col-4"></div>
		<ul class="nav">
			<li class="nav-item"><a class="nav-link" th:href="@{/}">部屋一覧</a></li>
			<li class="nav-item"><a class="nav-link" th:if="${user == null}"
				th:href="@{/login}">ログイン</a></li>
			<li class="nav-item dropdown" th:if="${user != null}"><a
				class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
				role="button" aria-expanded="false" th:text=${user}></a>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" th:href="@{/logout}">ログアウト</a></li>
				</ul></li>
		</ul>
	</nav>
	<div class="container">
		<div class="card-body">
			<form th:action="@{/singUp}" method="post" th:object=${singUp}>

				<div class="mb-4 mt-2">
					<h2>アカウント登録</h2>
				</div>
				<div class="mb-4 mt-2">
					<label for="email" class="form-label">氏名</label> <small
						class="m-3 text-danger" th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}"></small> <input type="text"
						class="form-control" id="name" name="name">
				</div>
				<div class="mb-4 mt-2">
					<label for="email" class="form-label">メール</label> <small
						class="m-3 text-danger" th:if="${#fields.hasErrors('mail')}"
						th:errors="*{mail}"></small> <input type="text"
						class="form-control" id="mail" name="mail">
				</div>

				<div class="mb-4">
					<label for="password" class="form-label">パスワード</label> <small
						class="m-3 text-danger" th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}"></small> <input type="password"
						class="form-control" id="password" name="password"
						oninput="toggleConfirmPassword()">
				</div>

				<div class="mb-4">
					<label for="password" class="form-label">パスワード確認</label> <small
						id="message" class="m-3 text-danger"
						th:errors="${singUp.confirmPassword}"></small> <input
						type="password" class="form-control" id="confirmPassword"
						name="confirmPassword">
				</div>
				<div class="d-grid mb-4">
					<button type="submit" class="btn btn-primary btn-block">
						<small><strong>登録</strong></small>
					</button>
				</div>
				<!-- Sign Up Mail Error : Mail Already Exist-->
				<div class="modal fade" id="signUpMailErrorModal" tabindex="-1"
					aria-labelledby="signUpMailErrorModal" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">すみません!</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<span>メールアドレスは既に登録されています。</span> <span>別のメールアドレスを選択してください。</span>

							</div>
						</div>
					</div>
				</div>
			</form>
			<div th:if="${singUpMailError}">
				<script th:inline="javascript">
					var myModal = new bootstrap.Modal(document
							.getElementById('signUpMailErrorModal'));
					myModal.show();
				</script>
			</div>

		</div>
	</div>
</body>
</html>