<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<style type="text/css">
#header {
	text-align: center;
	background: azure;
}

h1 {
	padding: 10px;
}
</style>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script src="https://kit.fontawesome.com/70b2f77ba6.js"
	crossorigin="anonymous"></script>
<meta charset="UTF-8">
<title>家計管理</title>
<link rel="icon" type="image/x-icon" href="/balance-scale-solid.ico">
</head>
<body>
	<div id="header">
		<h1>家計管理</h1>
	</div>
	<div class="container" style="display: block; max-width: 50%">
		<div class="row" style="padding: 5px;">
			<div class="col-sm-10">家計費一覧</div>
			<div class="col-sm-2" style="float: right;">
				<a th:href="@{/addExpense}" class="btn btn-primary btn-sm"
					role="button" aria-disabled="true"
					style="width: 100%; border-radius: 5px;"> <i
					class="fas fa-plus-circle"></i>&nbsp;追加
				</a>
			</div>
		</div>
		<div class="row" style="display: block;">
			<a th:href="@{/detail/{id} (id=${e.id_em})}" th:each="e : ${emList}"
				style="padding: 5px; text-decoration: none; color: black;">
				<div class="col">
					<div class="card" style="border-radius: 15px;">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-8">
									<span th:text="${e.date}"></span>
								</div>
								<div class="col-sm">
									<span th:text="${e.total}"></span>
								</div>
								<div class="col-sm">
									<i style="float: right; padding-top: 8%; padding-right: 8%"
										class="fas fa-chevron-right fa-lg"></i>
								</div>
							</div>
						</div>
					</div>
			</a>
		</div>

	</div>
</body>
</html>